/*

*/

*{ padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; vertical-align: top; font-size: 14px; color: #F0F0F0; }
body{ background: url('../images/background.jpg') no-repeat center #000; }
div#allContent { width: 1024px; margin: auto; padding: 10px; }
img#logo { float: left; }
h1 { font-size: 48px; float: left; margin-left: 100px; }
h1 > span { display: block; margin-top: -5px; margin-left: 5px; }

ul#menu { clear: both; list-style: none; margin: auto; padding-top: 10px; margin-bottom: 30px; width: 1021px; border-radius: 10px; background-image: url('../images/nav.png'); }
ul#menu li { display: inline-block; width: 201px; height: 35px; padding-top: 0px; text-align: center; font-size: 24px; color: #000; }
ul#menu li:hover { font-weight: 700; }

div#slider { width: 1024px; min-height: 640px; list-style: none; overflow-y: auto; overflow-x: hidden; }
div#slider div { display: none; }
div#slider div:first-child { display: block; }
div#timer { margin: auto; width: 100%; text-align: center; }

div#footer { margin-top: 50px; width: 1024px; text-align: center; }

table td{ font-size: 16px; text-align: left; }
table th, h2{ font-size: 24px; text-align: left; }



input.serial { padding: 3px 5px; width: 75px; font-size: 16px; text-align: center; color: #000; }
input.serial:first-child { margin-top: 50px; }